{% extends "base.html" %}#}

{% block title %}
    Delete Class
{% endblock %}

{% block content %}
    {% if user.groups.all.0.name == 'Administrators' %}
        <h1>Delete Class</h1>
        <br>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete <strong>
                Class: {{ class.number }}-{{ class.semester }}-{{ class.course }}</strong>?</p>
            <button class="btn btn-danger">Delete Class</button>
        </form>
    {% else %}
        <p>You are not authorised to view this page.</p>
    {% endif %}
{% endblock %}