{% extends "base.html" %}#}

{% block title %}
    Course Detail
{% endblock %}

{% block content %}
    {% if user.groups.all.0.name == 'Administrators' %}
        <h1>Course Details</h1>
        <br>
        <table>
        <tr>
            <td>
                Course:
            </td>
                <td>
                    {{ course.code }}
            </td>
            </tr>
            <tr>
                <td>
                Name:
                </td>
                <td>
                    {{ course.name }}
                </td>
            </tr>
            </table>
            <a href="{% url "update_course" course.id %}" class="btn btn-success">Update</a>
            <a href="{% url "delete_course" course.id %}" class="btn btn-danger">Delete</a>

    {% else %}
        <p>You are not authorised to view this page.</p>
    {% endif %}
{% endblock %}