{% extends "base.html" %}#}

{% block title %}
    Student Details
{% endblock %}

{% block content %}
    {% if user.groups.all.0.name == 'Administrators' %}
        <h1>Student Details</h1>
        <br>
        <table>
            <tr>
                <td>
                    Student ID:
                </td>
                <td>
                    {{ student.id }}
                </td>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    {{ student.firstname }} {{ student.lastname }}
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    {{ student.email }}
                </td>
            </tr>
            <tr>
                <td>
                    Date of Birth:
                </td>
                <td>
                    {{ student.DOB }}
                </td>
            </tr>
        </table>

        <p><a href="{% url "update_student_form" student.id %}" class="btn btn-success">Update</a>
            <a href="{% url "delete_student" student.id %}" class="btn btn-danger">Delete</a>
        </p>
        <br>
        <h2>Class Enrollments</h2>
        <br>
        {% if classes.count == 0 %}
            <p>{{ student.firstname }} {{ student.lastname }} is not enrolled in any classes.</p>
        {% else %}
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Semester</th>
                    <th>Class Number</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Lecturer</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% for class in classes %}
                    <tr>
                        <td>
                            {{ class.classID.semester.year }} {{ class.classID.semester.semester }}
                        </td>
                        <td>
                            {{ class.classID.number }}
                        </td>
                        <td>
                            {{ class.classID.course.code }}
                        </td>
                        <td>
                            {{ class.classID.course.name }}
                        </td>
                        <td>
                            {{ class.classID.lecturer.firstname }} {{ class.classID.lecturer.lastname }}
                        </td>
                        <td>
                            {{ class.class_id.lecturer_id.firstname }} {{ class.class_id.lecturer_id.lastname }}
                        </td>
                        <td>
                            <a href="{% url "remove_student_enrollment_form" class.id %}" class="btn btn-danger">Un-enroll from
                                Class</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <a href="{% url "enroll_student_form" student.id %}" class="btn btn-success">Enroll in Class</a>
    {% else %}
        <p>You are not authorised to view this page.</p>
    {% endif %}
{% endblock %}